@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, sans-serif;
  }

  body {
    @apply bg-bggray-100 text-white tracking-[0.023rem];
  }
}

@layer components {
  .primary-button {
    @apply rounded md:h-10 text-lg bg-[#e50914] px-3;
  }

  .login-button {
    @apply rounded md:h-9 tracking-[0.028rem] bg-[#e50914] text-sm md:px-4 p-2;
  }

  .content-container {
    /* @apply w-auto px-content-default; */
    @apply w-auto 
    /* pl-content-default 2xl:px-[60px]; */
  }

  .content-body {
    --default-left-padding: calc(100vw * 0.04);
    --max-w-default: calc(100vw - var(--default-left-padding) - var(--scrollbar-width));
    @apply flex flex-col
      justify-start items-start;
  }

  .content-banner-overview {
    text-shadow: 2px 2px 4px black;
  }

  .content-banner-button-container {
    @apply w-[30vw] msm:w-[33.5vw] sm:w-[32.5vw] mmd:w-[23vw] 2xl:w-[20vw]
    py-[0.4%]
    xsm:py-[0.8%] msm:py-[2%] mmd:py-[0.5%];
  }

  .content-banner-button-child {
    @apply bg-white flex items-center justify-center w-fit rounded-md 
    px-2 msm:px-[3%] 
    py-[1px] msm:py-[3%] mmd:py-[2%] md:py-[2.5%]
    max-w-full;
  }

  .content-banner-icon {
    @apply py-0
     w-[4vw] xsm:w-[3.9vw] netflix-md:w-[6vw] mmd:w-[3vw];
  }

  .content-banner-button {
    @apply py-0 z-[30]
    font-medium text-[1.5vw] xsm:text-[1.9vw] sm:text-[1.8vw] netflix-md:text-[2vw] mmd:text-[1.3vw];
  }

  .content-thumb-arrows {
    @apply h-[40%] z-[28]
    relative
    w-[var(--default-left-padding)]
    cursor-pointer opacity-20 transition-all hover:scale-125 group-hover:opacity-100;
  }

  .content-thumb-rows {
    /* @apply overflow-x-scroll; */
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  /* Chrome, Safari, Opera */
  .content-thumb-rows::-webkit-scrollbar {
    display: none;
  }

  .thumb-controller-button-outline-container {
    @apply w-fit h-fit p-[4px] align-middle border-2 border-white/50 bg-[#2a2a2a99] rounded-full;
  }

  .thumb-controller-button {
    @apply w-[1.5vw] h-[1.5vw] original-md:w-[1vw] original-md:h-[1vw]  align-middle rounded-full;
  }

  .thumbnail-container {

    --viewport-w: calc(100vw - (var(--default-left-padding) * 2) - var(--scrollbar-width));
    --thumb-count: 3;
    --netflix-md-thumb-count : 4;
    --netflix-lg-thumb-count: 5;
    --netfli-xl-thumb-count: 6;

    --thumbnail-w: calc(var(--viewport-w) / 3);
    --netflix-md-thumbnail-w: calc(var(--viewport-w) / 4);
    --netflix-lg-thumbnail-w: calc(var(--viewport-w) / 5);
    --netflix-xl-thumbnail-w: calc(var(--viewport-w) / 6);
    --h-ratio: 0.57;
    --thumbnail-h: calc(var(--thumbnail-w) * var(--h-ratio));
    --netflix-md-thumbnail-h: calc(var(--netflix-md-thumbnail-w) * var(--h-ratio));
    --netflix-lg-thumbnail-h: calc(var(--netflix-lg-thumbnail-w) * var(--h-ratio));
    --netflix-xl-thumbnail-h: calc(var(--netflix-xl-thumbnail-w) * var(--h-ratio));

    @apply w-[var(--thumbnail-w)] netflix-md:w-[var(--netflix-md-thumbnail-w)] netflix-lg:w-[var(--netflix-lg-thumbnail-w)] netflix-xl:w-[var(--netflix-xl-thumbnail-w)]
      h-[var(--thumbnail-h)] netflix-md:h-[var(--netflix-md-thumbnail-h)] netflix-lg:h-[var(--netflix-lg-thumbnail-h)] netflix-xl:h-[var(--netflix-xl-thumbnail-h)]
  }

  
  /* .thumbnail-container {
    --thumbnail-w: 30vw;
    --netflix-md-thumbnail-w: 22.5vw;
    --netfilx-lg-thumbnail-w: 18vw;
    --xlg-thumbnail-w: 18vw;
    --netfilx-xl-thumbnail-w: 15vw;
    --h-ratio: 0.57;
    --thumbnail-h: calc(var(--thumbnail-w) * var(--h-ratio));
    --netflix-md-thumbnail-h: calc(var(--netflix-md-thumbnail-w) * var(--h-ratio));
    --netfilx-lg-thumbnail-h: calc(var(--netfilx-lg-thumbnail-w) * var(--h-ratio));
    --xlg-thumbnail-h: calc(var(--xlg-thumbnail-w) * var(--h-ratio));
    --netfilx-xl-thumbnail-h: calc(var(--netfilx-xl-thumbnail-w) * var(--h-ratio));
  } */
}
